extends layout

block content
  p Welcome to #{title}
  h1= title
    form(action="/addMarks" method='POST' enctype='multipart/form-data')
        div
            span.label Title
            input(type="file", name="archivo")
        div
            input(type="submit", value="send")
