<!DOCTYPE html>
<html lang="en" ng-app="marksApp">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Evaluation Helper Marks</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="js/jquery/jquery-2.1.1.min.js"></script>
  <script src="js/materialize/materialize.js"></script>
  <script src="js/materialize/init.js"></script>
  <script src="js/angular/lib/angular.js"></script>
  <script src="js/angular/lib/angular-route.min.js"></script>
  <script src="js/angular/app.js"></script>
  <script src="js/angular/directive.js"></script>
  <script src="js/angular/controller.js"></script>

</head>

<body ng-controller="IndexController">
  <nav class="light-blue lighten-1 " role="navigation" style="height:50px">
    <div class="nav-wrapper">
        <div class="container">
            <a class= "right " href="documents/SARA_Template.dotx"><h5>Descargar Plantilla</h5></a>
          </div>
    </div>
  </nav>
  <!--
  <nav class="light-white lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="images/ctiLogo.png" alt="" style="height: 64px;"/></a>
  <ul class="right hide-on-med-and-down">
  <li><a href="#">Navbar Link</a></li>
</ul>
<ul id="nav-mobile" class="side-nav">
<li><a href="#">Navbar Link</a></li>
</ul>
<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
</nav>-->

<div class="section no-pad-bot" id="index-banner">
  <div class="container">

    <div class="row center">
      <div class="col l2 s12 center-align">
        <img src="images/ctiLogo.png" alt="" style="height: 64px;"/>
      </div>
      <h2 class="col l8 s12 center-align light-blue-text">Evaluation Helper Marks</h2>
      <div class="col l2 s12 center-align">
        <img src="images/espol.png" alt="" style="height: 64px;"/>
      </div>
    </div>

    <div class="row center">
      <h6 class="header col s12 light">Recuerde dejar los espacios necesarios para la colocación de las marcas y del campo cédula, tal como se lo indica en la imagen.</h6>
    </div>

    <div class="row center">
      <!--<div ng-show="show_loader" class="loader"></div>-->
      <img ng-show="!show_pdf" src="images/demo_examen.png" alt="" style="height: 50em;" class="ng-hide"/>
      <object ng-show="show_pdf" class="ng-hide" data="{{content}}" type="application/pdf" style="width: 70%; height: 50em; "></object>
    </div>
    <br><br>

    <form class="row">
      <div class="file-field input-field col s8">
        <div class="btn col s4 offset-s2">
          <span>Seleccione el examen</span>
          <input type="file" file-model='exam_pdf'>
        </div>
        <div class="file-path-wrapper col s4 offset-s1">
          <input class="file-path validate center" type="text">
        </div>
      </div>
      <div class="input-field col s4">
        <button class="btn waves-effect waves-light col s6 " ng-click="sendFile()">Generar Marcas
          <i class="material-icons right">send</i>
        </button>
        <div class="col s5 offset-s1">
          <!--<div ng-show="show_loader" class="ng-hide loader"></div>-->

          <div class="preloader-wrapper big active" ng-show="show_loader" >
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <!--<img class="header left" src="images/ctiLogo.png" alt="" style="height: 64px;"/>
  <h2 class="header center light-blue-text">Evaluation Helper Marks</h2>
  <img class="header right" src="images/ctiLogo.png" alt="" style="height: 64px;"/>-->
</div>
<br><br><br>

<footer class="page-footer light-blue">
<div class="container">
  <div class="row">
    <div class="col l6 s12 center-align">
      <h5 class="white-text">CTI</h5>
      <p class="grey-text text-lighten-4">Es un centro el cual desarrolla proyectos reales que combinan tecnologías emergentes, participación multidisciplinaria y las diferentes dimensiones humanas de la tecnología.</p>
    </div>
    <div class="col l3 s12 center-align">
      <h5 class="white-text">Contacto</h5>
      <ul>
        <li><a class="white-text">Km. 30.5 Vía Perimetral, ESPOL</a></li>
        <li><a class="white-text">yandrade@cti.espol.edu.ec</a></li>
        <li><a class="white-text">042269777</a></li>
      </ul>
    </div>
    <div class="col l2 s12 center-align">
      <h5 class="white-text center-a">Sitio Web</h5>
      <ul>
        <li><a class="white-text" href="http://www.cti.espol.edu.ec/">http://www.cti.espol.edu.ec/</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <div>CTI ESPOL © 2017 Todos los derechos reservados.Centro de Tecnologías de Información</div>
  </div>
</div>
</footer>

</body>
</html>
